{% extends "template.html" %}
{% block conteudo %}
<h1 class="my-4">{{titulo}}</h1>

<form action="/tarefas/criar" method="post" autocomplete="off">
    <div class="row mb-3">
        <div class="col-md-4">
            <label for="projeto" class="form-label">Projeto</label>
            <select class="form-select" name="idProjeto" id="idProjeto">
                {% for projeto in projetos %}
                <option value={{ projeto.id }}>{{ projeto.nome }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-8">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="descricao" class="form-label">Descricao</label>
            <textarea class="form-control" id="descricao" name="descricao"></textarea>
        </div>
        <div class="col-md-6">
            <label for="notas" class="form-label">Notas</label>
            <textarea class="form-control" id="notas" name="notas"></textarea>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <label for="prazo" class="form-label">Prazo</label>
            <input type="date" class="form-control" id="prazo" name="prazo">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

{% endblock %}